---

- debug:
    msg: "imported RedHat/generic/assert-tuned.yml"

# Configure tuned to use profile "sap-hana"

- name: Get status of tuned
  command: systemctl status tuned
  register: tuned_status
  ignore_errors: yes
  changed_when: no

- name: Assert that tuned is enabled
  assert:
    that:
      - "'/usr/lib/systemd/system/tuned.service; enabled' in tuned_status.stdout"
    fail_msg: "FAIL: Service tuned is NOT enabled!"
    success_msg: "PASS: Service tuned is enabled."
  ignore_errors: "{{ sap_hana_preconfigure_assert_ignore_errors|d(false) }}"

- name: Assert that tuned is active
  assert:
    that:
      - "'active (running)' in tuned_status.stdout"
    fail_msg: "FAIL: Service tuned is NOT active!"
    success_msg: "PASS: Service tuned is active."
  ignore_errors: "{{ sap_hana_preconfigure_assert_ignore_errors|d(false) }}"

- name: Get active tuned profile
  shell: /usr/sbin/tuned-adm active | grep ":" | cut -d ":" -f 2 | awk '{$1=$1;print}'
  check_mode: no
  register: current_profile
  changed_when: false

- debug:
    var: current_profile.stdout_lines, current_profile.stderr_lines

- name: Assert that tuned profile sap-hana is currently active for non-RHEL 8, non-ppc64le
  assert:
    that:
      - current_profile.stdout == 'sap-hana'
    fail_msg: "FAIL: The tuned profile 'sap-hana' is currently not active!
      Currently active profile: '{{ current_profile.stdout }}'."
    success_msg: "PASS: The tuned profile 'sap-hana' is currently active."
  ignore_errors: "{{ sap_hana_preconfigure_assert_ignore_errors|d(false) }}"
  when: (ansible_architecture != "ppc64le" or
          (ansible_architecture == "ppc64le" and
             ansible_distribution_version != "8.0"
          )
        ) and
        (sap_hana_preconfigure_switch_to_tuned_profile_sap_hana or
           sap_hana_preconfigure_assert_all_config
        )

- name: Assert that tuned profile sap-hana is currently active for RHEL 8 on ppc64le
  assert:
    that:
      - current_profile.stdout == 'sap-hana sap-hana-ppc64le'
    fail_msg: "FAIL: The tuned profiles 'sap-hana sap-hana-ppc64le' are currently not active!
      Currently active profile: '{{ current_profile.stdout }}'."
    success_msg: "PASS: The tuned profiles 'sap-hana sap-hana-ppc64le' are currently active."
  ignore_errors: "{{ sap_hana_preconfigure_assert_ignore_errors|d(false) }}"
  when: (ansible_architecture == "ppc64le" and
           ansible_distribution_version == "8.0"
        ) and
        (sap_hana_preconfigure_switch_to_tuned_profile_sap_hana or
           sap_hana_preconfigure_assert_all_config
        )

...
