---

- debug:
    msg: "imported RedHat/generic/disable-ksm.yml"

- name: Create file /etc/init.d/boot.local if it does not exist
  file:
    path: /etc/init.d/boot.local
    state: touch
    mode: 0755

- name: Get info about file /etc/init.d/boot.local
  stat:
    path: /etc/init.d/boot.local
  register: __sap_hana_preconfigure_register_stat_boot_local_ksm

- name: Disable KSM at boot time
  lineinfile:
    dest: /etc/init.d/boot.local
    line: "echo 0 > /sys/kernel/mm/ksm/run"
  when: __sap_hana_preconfigure_register_stat_boot_local_ksm.stat.exists

- name: Disable KSM on the running system
  shell: echo 0 > /sys/kernel/mm/ksm/run
  register: __sap_hana_preconfigure_register_disable_ksm
- debug:
    var: __sap_hana_preconfigure_register_disable_ksm.stdout_lines, __sap_hana_preconfigure_register_disable_ksm.stderr_lines

- name: Get status of KSM
  command: cat /sys/kernel/mm/ksm/run
  register: __sap_hana_preconfigure_register_ksm_status
  ignore_errors: true
  changed_when: false
- debug:
    var: __sap_hana_preconfigure_register_ksm_status.stdout_lines, __sap_hana_preconfigure_register_ksm_status.stderr_lines

...
